# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/**/migration_lock.toml
/src/generated/prisma-client

# =========================
# Build outputs
# =========================
dist/
build/
out/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/extensions.json

# =========================
# Testing / Coverage
# =========================
coverage/
.nyc_output/

# =========================
# Misc
# =========================
tmp/
temp/
.cache/
